@mixin absCenter {
  position: absolute;
  inset: 40% 0 50% 0;
  margin: auto;
}

// media query manager
/* 
  0-37.5em phone 
  600-56.25em tablet portrait
  900-1200px tablet landscape
  1200-1800px normal styles apply for desktop
  1800px+ big desktop
*/

// one way to write a media query but not the best way
// @mixin respond-phone {
//   @media (max-width: 37.5em) {
//     @content; //allows us to pass a block of code into the mixin
//   }
// }

// best posible way to write a media query
/*

  $breakpoint argument choices
   - phone
   - tab-port
   - tab-land
   - big-desktop

   order to start responsive design
   base + typography > general layout > components
*/
// em and rems are not affected in media queries so it is always equals to the root
// font size
// that comes in the browser by default is 16px
// best practice is to use ems in media queries
@mixin respond($breakpoint) {
  // if directive : conditional statement that checks if a condition is true
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 37.5em = 37.5em * 16px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media  only screen and (max-width: 56.25em) {
      // 56.25em = 56.25em * 16px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px = 75em * 16px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (max-width: 112.5em) {
      // 1800px = 112.5em * 16px
      @content;
    }
  }
}
