# Ignore node_modules directory
node_modules/

# Ignore compiled CSS files
css/icon-font.css
css/style.comp.css
css/style.concat.css
css/style.prefix.css


# Ignore .DS_Store files (Mac specific)
.DS_Store

# Ignore .vscode directory (VS Code specific)
.vscode/
# Ignore npm debug log
npm-debug.log